@charset "UTF-8";
html {
	max-width:960px;
	min-width:960px;
	}
#header {
	width: 100%;
	height: 155px;
	background:#FFF;
}
#icons {
	text-align:right;
	word-spacing: 5px;
	margin: -95px 0;
}
body {
	width: 100%;
	background-color:#FFF;
	font-family: Helvetica;
	font-size: 18px;
	color: gray;
}
#photo {
	height: 200px;
	width: 100px;
	margin: -30px 0px;
	float: left;
}
p {
	margin: 120px 390px;
	width: 250px;
	text-align: left;
}
#arrow2 {
	margin: -275px 150px;
	float: right;	
}
footer {
	text-align:center;
	width: 100%;
	height: 10px;
	background:#FFF;
	color: gray;
	font-family: Helvetica;
	font-size:12px;
	margin: 480px 80px;
}
#navigation {
	text-align: center;
	word-spacing: 50px;
	width: 80%;
	background: #FFF;
	font-size: 40px;
	font-family: Helvetica;
	line-height: 50px;
	margin: -370px 552px;		
}
nav ul li{
	list-style-type: none;
	color: gray;
	vertical-align: middle;
	font-style: normal;
}

nav ul a:hover {
	color:#F00;
	text-decoration:none;
}

nav us a:visited {
	color:gray;
}
a:link {
	color: #666;
	font-style:normal;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #666;
}
a:hover {
	text-decoration: none;
	color: #F00;
}
a:active {
	text-decoration: none;
}
